*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: sans-serif;
   font-size: 10px;
}

ul li {
   list-style: none;
}

a {
   text-decoration: none;
   font-weight: 600;
   color: #000;
}

button {
   border: 0;
   background-color: transparent;
}
