*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --white: #fff;
   --black: #000;

   --text-dark: #9e9e9e;

   --bg-color: #151f2c;

   --light-green: #27981d;
   --dark-blue: #1c5e5b;
   --light-blue: #00fff2;

   --light-red: #be4040;
}

html {
   font-family: sans-serif;
   font-size: 10px;
   color: var(--text-dark);
}

ul li {
   list-style: none;
}

a {
   text-decoration: none;
   font-weight: 600;
   color: var(--text-dark);
}

button {
   border: 0;
   background-color: transparent;
   color: var(--text-dark);
}

.page-enter-active,
.page-leave-active {
   transition: all 0.15s;
}
.page-enter-from,
.page-leave-to {
   opacity: 0;
   filter: blur(0.3rem);
}

//Styles for Login/Signup (FormKit Library)
.form-container {
   width: 100%;
   min-height: 100vh;
   background-color: var(--bg-color);

   @media (min-width: 768px) {
      display: grid;
      place-items: center;
   }
}

.form-box {
   display: flex;
   flex-direction: column;
   padding: 1.5rem;
   width: min(76.8rem, 100%);
   min-height: 100vh;

   @media (min-width: 768px) {
      margin: 5rem 0;
      min-height: 70vh;
      border: 1px solid #000;
   }
}

.form-title {
   margin-bottom: 5rem;
   font-size: 2rem;
   color: var(--light-blue);
}

.formkit-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
   gap: 1.5rem 0;
   width: min(40rem, 100%);
   margin: 0 auto;
}

.formkit-outer {
   width: 100%;
}

.formkit-input {
   width: 100%;
   padding: 1rem;
   border-radius: 50px;
   border: 1px solid var(--dark-blue);
}

.formkit-input:focus-within {
   outline: 2px solid var(--light-blue);
}

.formkit-actions {
   width: 100%;
   margin-top: 2rem;

   .formkit-input {
      color: var(--white);
      background-color: var(--dark-blue);
      &:focus {
         outline: none;
      }

      @media (min-width: 768px) {
         cursor: pointer;
         opacity: 0.8;
         transition: 0.15s ease-in-out;

         &:hover {
            opacity: 1;
            transition: 0.15s ease-in-out;
         }
      }
   }
}

.formkit-messages {
   .formkit-message {
      margin-top: 0.3rem;
      color: var(--light-red);
      font-size: 1.2rem;
   }
}

[data-invalid] .formkit-inner {
   box-shadow: 0 0 0 2px var(--light-red);
   border-radius: 50px;
}

[data-invalid] .formkit-messages {
   .formkit-message {
      padding: 0.3rem 0 0 1rem;
   }
}

[data-complete] .formkit-input:focus-within {
   outline: 2px solid var(--normal-green);
}
