*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: sans-serif;
   font-size: 10px;
}

ul li {
   list-style: none;
}

a {
   text-decoration: none;
   font-weight: 600;
   color: #000;
}

button {
   border: 0;
   background-color: transparent;
}

.page-enter-active,
.page-leave-active {
   transition: all 0.15s;
}
.page-enter-from,
.page-leave-to {
   opacity: 0;
   filter: blur(0.3rem);
}
